*{
    box-sizing:border-box;
}
.container{
    background:#ff99009c;
    padding:20px;
    border-radius:5px;
    margin-bottom:30px;
   
}
input[type=text],input[type=number]{
    width:50%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    margin-top:6px;
    resize:vertical;
    display: flex;
    box-sizing:border-box;
    margin-bottom:16px;

}
button{
    background:#1c2b35;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    color:white;
    margin:10px;
}
button:hover{
    background:#45a049;
}
.error{
    color:red;
}