/* *{
    box-sizing:border-box;
}
.container{
    background:#FFC;
    padding:20px;
    border-radius:5px;
    flex-direction:column;
    display:flex;
    margin:50px;
   
}
input[type=text]{
    width:50%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    margin-top:6px;
    resize:vertical;
    display: flex;
    box-sizing:border-box;
    margin-bottom:16px;

}
button{
    background:#1c2b35;;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    color:white;
    width:100px;
    text-align:center;
}
button:hover{
    background:#45a049;
}
.file{
    padding:20px;
} */
.container {
    margin: 20px;
    justify-content:center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  .file {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  

  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .file{
    padding:20px;
}
button{
    background:#1c2b35;;
    padding:12px 20px;
    border:none;
    border-radius:4px;
    cursor:pointer;
    color:white;
    width:100px;
    text-align:center;
    margin-bottom:20px;
}
button:hover{
    background:#45a049;
}
.containerSecond{
    background:#FFC;
    padding:20px;
    border-radius:5px;
    flex-direction:column;
    display:flex;
    margin:50px;
   
}
  